[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
server = {{ splunk_server }}:{{ splunk_server_port }}

# This stanza is often not strictly necessary if defaultGroup points to it,
# but can be useful for explicit server configuration if needed.
# [tcpout-server://{{ splunk_server }}:{{ splunk_server_port }}]