# roles/linux_baseline/templates/sshd_config.j2
Port 22
PermitRootLogin {{ sshd_permit_root_login }}
PasswordAuthentication {{ sshd_password_authentication }}
# (Other settings can be copied from default and templated as needed)
