# roles/prometheus/templates/prometheus.yml.j2
# Prometheus configuration file

global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: 15s

scrape_configs:
{% for job in prometheus_targets %}
  - job_name: {{ job.job_name }}
    static_configs:
      - targets:
{% for target in job.targets %}
          - {{ target }}
{% endfor %}
{% endfor %}
